<h1>Dashboard</h1>
<hr>
<div class="row col-md-12">
  <div class="col-md-6">
    <h2>Current Deals</h2>
    <div class="scroll-list-box">
      <% @user_stores.each do |store| %>
        <% store.deals.each do |deal| %>
          <ul>
            <li>
              <%= link_to store_deals_path(store) do %>
                <h3><%= store.name %>:</h3>
                <h4><%= deal.title %></h4>
              <% end %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Favorite Stores</h2>
    <div class="scroll-list-box">
      <% @user_stores.sort_by(&:name).each do |store| %>
        <ul>
          <li>
            <h3><%= store.name %></h3>
          </li>
        </ul>
      <% end %>
    </div> 
  </div>
<%= link_to "Add More Favorite Stores", user_stores_path(current_user), class: "btn btn-primary" %>
</div>

<% if @ad_available == true %>
  <div class="row col-md-12 advertisement">
  <h2>Item on Sale Right Now!</h2>
    <%= link_to @ad_product_url do %>
      <%= image_tag "#{@ad_image_link}" %>
      <h5><%= @ad_product_name %></h5>
      <h5>Original Price:$<%= @ad_product_price %><h5>
      <h4>Sale Price:$<%= @ad_product_sale_price %><h4>
    <% end %>
  </div>
<% end %>


